.categoryBox {
    text-align: center;
    padding: 8px;
    margin: 8px;
    background-color: rgb(24, 24, 24);
    border-radius: 25px;
}

.option {
    padding: 8px;
    margin: 8px;
    text-align: center;
    background-color: rgb(54, 54, 54);
    border-radius: 25px;
    cursor: pointer;
}

.optionText {
    font-weight: bold;
    size: 10px;
}

.optionDetails {
    font-weight: 100;
    font-size: smaller;
}

.selected {
    background-color: rgb(22, 92, 20);
}

.skipButton {
    cursor: pointer;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.shareButton {
    cursor: pointer;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
